# Clave de API de OpenAI
OPENAI_API_KEY=tu_clave_api_aqui

# Clave de API de Google Gemini
PUBLIC_GEMINI_API_KEY=tu_clave_gemini_aqui

# Clave de API de Google Maps (para autocomplete de direcciones)
PUBLIC_GOOGLE_MAPS_API_KEY=tu_clave_google_maps_aqui

# Modo Desarrollo (true = utiliza Ollama local | false = utiliza Gemini)
DEVELOP=true
