---
import Gallery from "../../../components/Gallery.astro";
import menu from "./media/menu.jpg";
import tacos_0 from "./media/QLR-Diciembre_2024-0.jpg";
import tacos_1 from "./media/QLR-Diciembre_2024-1.jpg";
import tacos_2 from "./media/QLR-Diciembre_2024-2.jpg";
import tacos_3 from "./media/QLR-Diciembre_2024-3.jpg";
import tacos_4 from "./media/QLR-Diciembre_2024-4.jpg";
import tacos_5 from "./media/QLR-Diciembre_2024-5.jpg";
import tacos_6 from "./media/QLR-Diciembre_2024-6.jpg";
import tacos_7 from "./media/QLR-Diciembre_2024-7.jpg";
import tacos_8 from "./media/QLR-Diciembre_2024-8.jpg";
import tacos_9 from "./media/QLR-Diciembre_2024-9.jpg";
import tacos_10 from "./media/QLR-Diciembre_2024-10.jpg";
import tacos_11 from "./media/QLR-Diciembre_2024-11.jpg";
import tacos_12 from "./media/QLR-Diciembre_2024-12.jpg";
import tacos_13 from "./media/QLR-Diciembre_2024-13.jpg";
import tacos_14 from "./media/QLR-Diciembre_2024-14.jpg";
import tacos_15 from "./media/QLR-Diciembre_2024-15.jpg";
import tacos_16 from "./media/QLR-Diciembre_2024-16.jpg";
import tacos_17 from "./media/QLR-Diciembre_2024-17.jpg";
import tacos_18 from "./media/QLR-Diciembre_2024-18.jpg";
import tacos_19 from "./media/QLR-Diciembre_2024-19.jpg";
import tacos_20 from "./media/QLR-Diciembre_2024-20.jpg";
import tacos_21 from "./media/QLR-Diciembre_2024-21.jpg";
import tacos_22 from "./media/QLR-Diciembre_2024-22.jpg";
import tacos_23 from "./media/QLR-Diciembre_2024-23.jpg";
import tacos_24 from "./media/QLR-Diciembre_2024-24.jpg";
import tacos_25 from "./media/QLR-Diciembre_2024-25.jpg";
import tacos_26 from "./media/QLR-Diciembre_2024-26.jpg";
import tacos_27 from "./media/QLR-Diciembre_2024-27.jpg";
import tacos_28 from "./media/QLR-Diciembre_2024-28.jpg";
import tacos_29 from "./media/QLR-Diciembre_2024-29.jpg";
import tacos_30 from "./media/QLR-Diciembre_2024-30.jpg";
import tacos_31 from "./media/QLR-Diciembre_2024-31.jpg";
import tacos_32 from "./media/QLR-Diciembre_2024-32.jpg";

const imagenes = [
    {
        src: menu,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_0,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_1,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_2,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_3,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_4,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_5,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_6,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_7,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_8,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_9,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_10,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_11,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_12,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_13,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_14,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_15,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_16,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_17,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_18,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_19,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_20,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_21,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_22,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_23,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_24,
        alt: "Menu del Dia",
        Title: "Menu del Dia",
    },
    {
        src: tacos_25,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_26,
        alt: "Menu del Dia",
        Title: "Menu del Dia",
    },
    {
        src: tacos_27,
        alt: "Menu del Dia",
        titles: "Menu del Dia",
    },
    {
        src: tacos_28,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_29,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },
    {
        src: tacos_30,
        alt: "Menu del Dia",
        tittle: "Menu del Dia",
    },
    {
        src: tacos_31,
        alt: "Menu del Dia",
        Tittle: "Menu del Dia",
    },
    {
        src: tacos_32,
        alt: "Menu del Dia",
        title: "Menu del Dia",
    },


];
---
<div class="text-center max-w-4xl mx-auto px-10">
    {/* Image gallery */}
    <h2 class="text-4xl py-6 font-oswald text-[#f61519] mb-2 font-bold">Galeria</h2>
    <Gallery images={imagenes} buttonClasses="inline-block font-oswald bg-[#f61519] text-white text-3xl font-black uppercase py-2 px-8 mb-6 relative after:content-[''] after:absolute after:right-[-15px] after:top-0 after:bottom-0 after:w-[30px] after:bg-[#f61519] after:skew-x-[20deg] after:-z-10" />
</div>