---
import { Utensils, Menu, X } from "lucide-react";

const { textWhite, backgroundColor } = Astro.props;

const navItems = [
    { name: "Características", href: "#" },
    { name: "Precios", href: "#" },
    { name: "Contacto", href: "#" },
    {
        name: "¿Hay un problema o tienes una sugerencia?",
        href: "https://forms.gle/ZfzxRPGhh2BahKph6",
    },
];
---

<header
    class={`${backgroundColor} ${textWhite ? "text-white" : "text-black"}`}
>
    <div class="lg:max-w-[85%] mx-auto">
        <div class="flex p-4 items-center sticky top-0 z-10"> 
            <a class="flex items-center justify-center" href="/">
                <Utensils className="h-6 w-6" />
                <span class="sr-only"></span>
            </a>
            <button
                id="menuButton"
                class="ml-auto lg:hidden transition-transform duration-300 ease-in-out"
            >
                <Menu className="h-6 w-6" id="menuIcon" />
                <X className="h-6 w-6 hidden" id="closeIcon" />
            </button>
            <nav
                id="mobileNav"
                class=`hidden lg:flex lg:ml-auto lg:gap-6 fixed lg:relative max-sm:top-14 left-0 right-0 ${backgroundColor} ${textWhite ? 'text-white' : 'text-black'} lg:bg-transparent p-4 lg:p-0 shadow-lg lg:shadow-none transform transition-all duration-300 ease-in-out translate-x-full lg:translate-x-0 opacity-0 lg:opacity-100`
            >
                {
                    navItems.map((item) => (
                        <a
                            class="text-sm font-medium hover:underline underline-offset-4 block lg:inline-block py-2 lg:py-0 transition-colors duration-200 ease-in-out"
                            href={item.href}
                        >
                            {item.name}
                        </a>
                    ))
                }
            </nav>
        </div>
    </div>
</header>

<script>
    function toggleMenu() {
        const menuButton = document.getElementById("menuButton");
        const mobileNav = document.getElementById("mobileNav");
        const menuIcon = document.getElementById("menuIcon");
        const closeIcon = document.getElementById("closeIcon");

        if (menuButton && mobileNav && menuIcon && closeIcon) {
            menuButton.classList.toggle("rotate-180");
            mobileNav.classList.toggle("hidden");
            mobileNav.classList.toggle("translate-x-full");
            mobileNav.classList.toggle("opacity-0");
            menuIcon.classList.toggle("hidden");
            closeIcon.classList.toggle("hidden");

            if (!mobileNav.classList.contains("hidden")) {
                setTimeout(() => {
                    mobileNav?.classList.remove(
                        "translate-x-full",
                        "opacity-0",
                    );
                }, 10);
            }
        }
    }

    // Agregar el evento click al botón
    document.addEventListener("astro:page-load", () => {
        const menuButton = document.getElementById("menuButton");
        if (menuButton) {
            menuButton.addEventListener("click", toggleMenu);
        }
    });
</script>