---
import RestaurantLayout from "../../layouts/RestaurantLayout.astro";

---
 
<RestaurantLayout
title="Registro"
description="Registro"
textWhite={false}
>
    <div class="mt-24 max-w-[85%] mx-auto">
        <h2 class="text-2xl font-bold text-gray-900 mb-8 text-center">
          Registro
        </h2>
        <div class="text-center">
            Proximamente...
        </div>
    </div>
</RestaurantLayout>